<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifsuldeminas.muz.alertaferrugem">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.InicioActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SetaLocalidadeActivity" />
        <activity android:name=".activities.MapaActivity" />
        <activity android:name=".activities.CarregamentoActivity" />
        <activity android:name=".activities.CadastroActivity" />
        <activity android:name=".activities.FeedbackActivity" />
        <activity android:name=".activities.LavourasActivity" />
        <activity android:name=".activities.CadastroLavouraActivity" />
        <activity android:name=".activities.VerLavouraActivity" />
        <activity android:name=".activities.TelaInicialActivity" />
        <activity android:name=".activities.TratamentoActivity"></activity>
    </application>

</manifest>